<div class="stat-wrapper">
  <h2 class="stat-title" *ngIf="title">{{ title }}</h2>
  <ul class="stat-card">
    @for (stat of statDefinitions; track stat.key) {
      <li class="stat-row">
        <app-stat-row
          [label]="stat.label"
          [currentStat]="getNumericStat(currentStats, stat.key)!"
          [prevStat]="stat.prevKey ? getNumericStat(prevStats, stat.prevKey) : undefined"
          [secondaryStat]="stat.secondaryKey ? getNumericStat(currentStats, stat.secondaryKey) : undefined"
          [toolTip]="stat.toolTip"
          [id]="stat.id"
          [isPercentage]="stat.isPercentage">
        </app-stat-row>
      </li>
    }
  </ul>
</div>
