<ion-list style="background: none">
  @if (title) {
    <ion-list-header style="margin-bottom: 4px">{{ title }}</ion-list-header>
  }
  <div class="stat-container">
    @for (stat of statDefinitions; track stat.key) {
      <div class="stats">
        <app-stat-row
          [label]="stat.label"
          [currentStat]="getNumericStat(currentStats, stat.key)!"
          [prevStat]="stat.prevKey ? getNumericStat(prevStats, stat.prevKey) : undefined"
          [secondaryStat]="stat.secondaryKey ? getNumericStat(currentStats, stat.secondaryKey) : undefined"
          [toolTip]="stat.toolTip"
          [id]="stat.id"
          [isPercentage]="stat.isPercentage">
        </app-stat-row>
      </div>
    }
  </div>
</ion-list>
