.throws {
  margin-top: 0;
}

.padding {
  padding: 10px 20px 0 0 !important;
}

.date-picker {
  font-size: 1.1rem;
  padding: 0 18px 0;
  border-radius: 0 0 3px 3px;

  ion-select::part(text) {
    font-weight: 500;
  }
}

.action-sheet {
  margin-right: 8px;

  ion-button {
    background: none;
    position: relative;

    --background-activated: none;
  }
}

.filter-indicator {
  position: absolute;
  bottom: 12px;
  left: 20px;
  color: black;
  background: var(--ion-color-primary);
  padding: 1px;
  border-radius: var(--default-border-radius);
  z-index: 15555;
  font-size: 14px;
}