<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start" style="padding: 4px">
      <ion-button
        for="excelUpload"
        type="button"
        class="action-sheet"
        slot="start"
        fill="clear"
        [disabled]="storageService.allBalls().length === 0"
        (click)="openExcelFileInput()">
        <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
      </ion-button>
      <ion-button
        (click)="exportToExcel()"
        class="action-sheet"
        fill="clear"
        [disabled]="storageService.games().length <= 0 && !loadingService.isLoading()">
        <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon> </ion-button
    ></ion-buttons>
    <!-- Clear Input on Upload-->
    <input type="file" id="excelUpload" class="ion-hide" (input)="handleFileUpload($event)" placeholder="Upload file" accept=".xlsx" />
    <ion-title> {{ "STATS.TITLE" | translate }} </ion-title>
    <ion-buttons slot="end" class="action-sheet">
      <ion-button fill="clear" (click)="openFilterModal()" [disabled]="storageService.games().length <= 0 && !loadingService.isLoading()">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        <ion-text class="filter-indicator" *ngIf="gameFilterService.activeFilterCount() !== 0">{{ gameFilterService.activeFilterCount() }}</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  @if (!((gameFilterService.filteredGames().length <= 0 && !loadingService.isLoading()) || gameFilterService.filteredGames().length <= 0)) {
    <ion-toolbar>
      <ion-segment [value]="selectedSegment" (ionChange)="onSegmentChanged($event)" scrollable="true">
        @for (segment of segments; track segment) {
          <ion-segment-button [value]="segment" [contentId]="segment">
            <ion-label class="segment-label">{{ "STATS.SEGMENT_" + segment.toUpperCase() | translate }}</ion-label>
          </ion-segment-button>
        }
      </ion-segment>
    </ion-toolbar>
  }
  <ion-toolbar *ngIf="gameFilterService.activeFilterCount() !== 0" style="text-align: center">
    <app-generic-filter-active [filters]="currentFilters" [defaultFilters]="defaultFilters" [filterConfigs]="gameFilterConfigs">
    </app-generic-filter-active>
  </ion-toolbar>

  @if (!((gameFilterService.filteredGames().length <= 0 && !loadingService.isLoading()) || gameFilterService.filteredGames().length <= 0)) {
    <ion-toolbar [@toolbarFade]="selectedSegment === 'Sessions' ? 'visible' : 'hidden'" class="ion-activatable ion-ripple-parent">
      <ion-select
        class="date-picker"
        [label]="'STATS.SESSION_DATE' | translate"
        toggleIcon="calendar-number-outline"
        expandedIcon="calendar-number"
        [value]="selectedDate()"
        (ionChange)="_selectedDate.set($event.detail.value)">
        <ion-select-option *ngFor="let unixDate of uniqueSortedDates()" [value]="unixDate">
          {{ unixDate | date: "dd.MM.yyyy" }}
        </ion-select-option>
      </ion-select>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-toolbar>
  }
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment-view>
    <ion-segment-content id="Overall">
      <section class="tab" *ngIf="gameFilterService.filteredGames().length > 0">
        <app-stat-display
          [title]="'STATS.OVERALL_STATS' | translate"
          [statDefinitions]="overallStatDefinitions"
          [currentStats]="statsService.currentStats()"
          [prevStats]="statsService.prevStats()">
        </app-stat-display>
        <app-stat-display
          [title]="'STATS.PLAY_FREQUENCY_STATS' | translate"
          [statDefinitions]="playFrequencyStatDefinitions"
          [currentStats]="statsService.currentStats()"
          [prevStats]="statsService.prevStats()">
        </app-stat-display>
        <app-stat-display
          [title]="'STATS.SPECIAL_STATS' | translate"
          [statDefinitions]="specialStatDefinitions"
          [currentStats]="statsService.currentStats()"
          [prevStats]="statsService.prevStats()">
        </app-stat-display>
        <app-ball-stats
          [title]="'STATS.MOST_USED_BALL' | translate"
          [bestBall]="statsService.mostPlayedBallStats()"
          [totalGames]="statsService.currentStats().totalGames"></app-ball-stats>
        <app-ball-stats
          [title]="'STATS.BEST_BALL' | translate"
          [bestBall]="statsService.bestBallStats()"
          [totalGames]="statsService.currentStats().totalGames"></app-ball-stats>
        <app-stat-display
          [title]="'STATS.SERIES_STATS' | translate"
          [statDefinitions]="seriesStatDefinitions"
          [currentStats]="statsService.currentStats()"
          [prevStats]="statsService.prevStats()">
        </app-stat-display>
        <ion-list-header style="margin-bottom: 4px">{{ "STATS.SCORE_ANALYSIS" | translate }}</ion-list-header>
        <div class="stat-container">
          <canvas #scoreChart class="score" style="width: 300px; height: 400px; max-height: 700px"></canvas>
        </div>
        <ion-list-header style="margin-bottom: 4px">{{ "STATS.AVERAGE_SCORE" | translate }}</ion-list-header>
        <div class="stat-container">
          <canvas #averageScoreChart class="average-score" style="width: 300px; height: 400px; max-height: 700px"></canvas>
        </div>
        <ion-list-header style="margin-bottom: 4px">{{ "STATS.SCORE_DISTRIBUTION" | translate }}</ion-list-header>
        <div class="stat-container">
          <canvas #scoreDistributionChart style="width: 300px; height: 400px; max-height: 700px"></canvas>
        </div>
      </section>
    </ion-segment-content>

    <ion-segment-content id="Throws">
      <section class="tab" *ngIf="gameFilterService.filteredGames().length > 0">
        <app-stat-display
          [title]="'STATS.THROW_STATS' | translate"
          [statDefinitions]="throwStatDefinitions"
          [currentStats]="statsService.currentStats()"
          [prevStats]="statsService.prevStats()">
        </app-stat-display>
        <app-stat-display
          [title]="'STATS.STRIKE_STATS' | translate"
          [statDefinitions]="strikeStatDefinitions"
          [currentStats]="statsService.currentStats()"
          [prevStats]="statsService.prevStats()">
        </app-stat-display>
        <ion-list-header style="margin-bottom: 4px">{{ "STATS.THROW_DISTRIBUTION" | translate }}</ion-list-header>
        <div class="stat-container">
          <canvas #throwChart class="throws" style="width: 300px; height: 400px; max-height: 700px"></canvas>
        </div>
      </section>
    </ion-segment-content>

    <ion-segment-content id="Spares">
      <section class="tab" *ngIf="gameFilterService.filteredGames().length > 0">
        <app-spare-display
          [title]="'STATS.SPARE_STATS' | translate"
          [stats]="statsService.currentStats()"
          [prevStats]="statsService.prevStats()"
          id="overalSpareStats"></app-spare-display>
        <app-stat-display
          [title]="'STATS.SPARE_CONVERSION' | translate"
          [statDefinitions]="spareStatDefinitions"
          [currentStats]="statsService.currentStats()"
          [prevStats]="statsService.prevStats()">
        </app-stat-display>
        <ion-list-header style="margin-bottom: 4px">{{ "STATS.CONVERTED_VS_MISSED" | translate }}</ion-list-header>
        <div class="stat-container">
          <canvas #pinChart class="spares" style="width: 300px; height: 400px; max-height: 700px"></canvas>
        </div>
        <ion-list-header style="margin-bottom: 4px">{{ "STATS.SPARE_DISTRIBUTION" | translate }}</ion-list-header>
        <div class="stat-container">
          <canvas #spareDistributionChart style="width: 300px; height: 400px; max-height: 700px"></canvas>
        </div>
      </section>
    </ion-segment-content>

    <ion-segment-content id="Pins">
      <section class="tab" *ngIf="gameFilterService.filteredGames().length > 0">
        <app-stat-display
          [title]="'STATS.PIN_STATS' | translate"
          [statDefinitions]="pinStatDefinitions"
          [currentStats]="statsService.currentStats()"
          [prevStats]="statsService.prevStats()">
        </app-stat-display>
        <app-pin-leave-stats [title]="'STATS.STRONGEST_SPARES' | translate" [leaveStats]="statsService.bestLeaves()"> </app-pin-leave-stats>
        <app-pin-leave-stats [title]="'STATS.WEAKEST_SPARES' | translate" [leaveStats]="statsService.worstLeaves()"> </app-pin-leave-stats>
        <app-pin-leave-stats [title]="'STATS.MOST_COMMON_LEAVES' | translate" [leaveStats]="statsService.commonLeaves()"> </app-pin-leave-stats>
      </section>
    </ion-segment-content>

    <ion-segment-content id="Sessions">
      @if (gameFilterService.filteredGames().length > 0) {
        <section class="tab">
          <app-stat-display
            [title]="'STATS.OVERALL_STATS' | translate"
            [statDefinitions]="sessionStatDefinitions"
            [currentStats]="sessionStats()"
            [prevStats]="statsService.currentStats()">
          </app-stat-display>
          <app-stat-display [title]="'STATS.PIN_STATS' | translate" [statDefinitions]="pinStatDefinitions" [currentStats]="sessionStats()">
          </app-stat-display>
          <app-spare-display
            [title]="'STATS.SPARE_STATS' | translate"
            [prevStats]="statsService.currentStats()"
            [stats]="sessionStats()"
            [id]="'sessionSpareStats'">
          </app-spare-display>
          <app-pin-leave-stats [title]="'STATS.STRONGEST_SPARES' | translate" [leaveStats]="sessionLeaves().best"></app-pin-leave-stats>
          <app-pin-leave-stats [title]="'STATS.WEAKEST_SPARES' | translate" [leaveStats]="sessionLeaves().worst"></app-pin-leave-stats>
          <app-pin-leave-stats [title]="'STATS.MOST_COMMON_LEAVES' | translate" [leaveStats]="sessionLeaves().common"></app-pin-leave-stats>
        </section>
      }
    </ion-segment-content>
  </ion-segment-view>

  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container *ngIf="gameFilterService.filteredGames().length <= 0">
    <ng-container *ngIf="storageService.games().length <= 0 && !loadingService.isLoading(); else checkFilteredGames">
      <ion-text class="no-game-text"> {{ "STATS.NO_STATS" | translate }} </ion-text>
    </ng-container>
  </ng-container>
  <ng-template #checkFilteredGames>
    <ng-container *ngIf="gameFilterService.filteredGames().length <= 0 && !loadingService.isLoading()">
      <ion-text class="no-game-text"> {{ "STATS.NO_STATS_FILTER" | translate }} </ion-text>
    </ng-container>
  </ng-template>
</ion-content>
