<ion-header [translucent]="true">
  <ion-toolbar>
    @if (!isVisibilityEdit()) {
      <ion-buttons slot="end">
        <ion-button type="button" class="action-sheet" fill="clear" (click)="addLeague()">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    } @else {
      <ion-buttons slot="end">
        <ion-button type="button" class="action-sheet" fill="clear" strong="true" (click)="editVisibility()">
          {{ "LEAGUE.SAVE" | translate }}
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button type="button" class="action-sheet" fill="clear" (click)="cancelEdit()"> {{ "LEAGUE.CANCEL" | translate }} </ion-button>
      </ion-buttons>
    }
    <ion-title> {{ "LEAGUE.TITLE" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container *ngIf="storageService.games().length <= 0 && !loadingService.isLoading(); else noLeagues">
    <ion-text class="no-game-text"> {{ "LEAGUE.NO_GAMES" | translate }} </ion-text>
  </ng-container>

  <ng-template #noLeagues>
    <ng-container *ngIf="leagueKeys().length <= 0 && !loadingService.isLoading(); else content">
      <ion-text class="no-game-text"> {{ "LEAGUE.NO_LEAGUES" | translate }} </ion-text>
    </ng-container>
  </ng-template>

  <ng-template #content>
    @if (noLeaguesShown && !isVisibilityEdit()) {
      <ion-text class="no-game-text" (longPressed)="editVisibility()" [delay]="1000" appLongPress>
        {{ "LEAGUE.NO_LEAGUES_SHOWN" | translate }}
      </ion-text>
    } @else {
      @for (league of leagueKeys(); track league) {
        @if (isVisibilityEdit()) {
          @if (leagueSelectionState; as selectionState) {
            <div class="sliding">
              <ion-item button #leagues (longPressed)="editVisibility()" [delay]="1000" appLongPress detail="false">
                <ion-checkbox [checked]="selectionState[league]" (ionChange)="updateLeagueSelection(league, $event.detail.checked)">
                  <ion-label class="game-info">
                    <h2 class="title">{{ league }}</h2>
                    <p class="score">{{ "LEAGUE.GAMES" | translate: { count: gamesByLeague()[league].length || 0 } }}</p>
                    <p class="score">{{ "LEAGUE.AVG" | translate: { avg: (statsByLeague()[league].averageScore | number: "1.1-2") } }}</p>
                    <p class="score">{{ "LEAGUE.HIGH" | translate: { high: statsByLeague()[league].highGame } }}</p>
                  </ion-label>
                </ion-checkbox>
              </ion-item>
            </div>
          }
        } @else {
          @if (leagueSelectionState[league]) {
            @if (league === "Practice") {
              <div class="sliding">
                <ion-item (click)="loadingService.setLoading(true)" button [id]="league" (longPressed)="editVisibility()" [delay]="1000" appLongPress>
                  <ion-label class="game-info">
                    <div class="title">{{ league }}</div>
                    <div class="score">{{ "LEAGUE.GAMES" | translate: { count: gamesByLeague()[league].length || 0 } }}</div>
                    <div class="score">{{ "LEAGUE.AVG" | translate: { avg: (statsByLeague()[league].averageScore | number: "1.1-2") } }}</div>
                    <div class="score">{{ "LEAGUE.HIGH" | translate: { high: statsByLeague()[league].highGame } }}</div>
                  </ion-label>
                </ion-item>
              </div>
            } @else {
              <ion-item-sliding class="sliding" #slidingItem>
                <ion-item-options side="end" (ionSwipe)="deleteLeague(league); slidingItem.closeOpened()">
                  <ion-item-option color="danger" expandable (click)="deleteLeague(league); slidingItem.closeOpened()">
                    <ion-icon class="title" style="transform: translateY(-2px)" name="trash-outline"></ion-icon>
                  </ion-item-option>
                </ion-item-options>

                <ion-item-options side="start" (ionSwipe)="editLeague(league); slidingItem.closeOpened()">
                  <ion-item-option expandable (click)="editLeague(league); slidingItem.closeOpened()">
                    <ion-icon class="title" style="transform: translateY(-2px)" name="create-outline"></ion-icon>
                  </ion-item-option>
                </ion-item-options>

                <ion-item (click)="loadingService.setLoading(true)" button [id]="league" (longPressed)="editVisibility()" [delay]="1000" appLongPress>
                  <ion-label class="game-info">
                    <div class="title">{{ league }}</div>
                    <div class="score">{{ "LEAGUE.GAMES" | translate: { count: gamesByLeague()[league].length || 0 } }}</div>
                    <div class="score">{{ "LEAGUE.AVG" | translate: { avg: (statsByLeague()[league].averageScore | number: "1.1-2") } }}</div>
                    <div class="score">{{ "LEAGUE.HIGH" | translate: { high: statsByLeague()[league].highGame } }}</div>
                  </ion-label>
                </ion-item>
              </ion-item-sliding>
            }
          }
        }
      }
    }
  </ng-template>
</ion-content>

@for (league of leagueKeys(); track $index) {
  @if (leagueSelectionState[league] && !isVisibilityEdit()) {
    <ion-modal
      [trigger]="league"
      #modal
      (didDismiss)="destroyCharts(league)"
      (didPresent)="loadingService.setLoading(false); generateCharts(league, true)">
      <ng-template>
        <ion-header [translucent]="true">
          <ion-toolbar>
            <ion-buttons slot="start" style="padding: 4px">
              <ion-button (click)="closeModal(league)">
                <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>{{ league }}</ion-title>
          </ion-toolbar>

          <ion-toolbar>
            <ion-segment [value]="selectedSegment" (ionChange)="onSegmentChanged(league, $event)">
              @for (segment of segments; track segment) {
                <ion-segment-button [value]="segment" [contentId]="segment + '-' + league">
                  <ion-label class="segment-label">{{ "LEAGUE.SEGMENT_" + segment.toUpperCase() | translate }}</ion-label>
                </ion-segment-button>
              }
            </ion-segment>
          </ion-toolbar>
        </ion-header>

        <ion-content #modalContent>
          <ion-segment-view>
            <ion-segment-content id="Overall-{{ league }}">
              <section class="tab">
                <app-stat-display
                  [statDefinitions]="statDefinitions"
                  [title]="'LEAGUE.OVERALL_STATS' | translate"
                  [currentStats]="statsByLeague()[league]"
                  [prevStats]="overallStats()">
                </app-stat-display>
                <app-ball-stats
                  [title]="'LEAGUE.MOST_USED_BALL' | translate"
                  [bestBall]="mostPlayedBallsByLeague()[league]"
                  [totalGames]="statsByLeague()[league].totalGames"></app-ball-stats>
                <app-ball-stats
                  [title]="'LEAGUE.BEST_BALL' | translate"
                  [bestBall]="bestBallsByLeague()[league]"
                  [totalGames]="statsByLeague()[league].totalGames"></app-ball-stats>
                <ion-list-header style="margin-bottom: 4px"> {{ "LEAGUE.SCORE_ANALYSIS" | translate }}</ion-list-header>
                <div class="stat-container">
                  <canvas #scoreChart style="width: 300px; height: 400px; max-height: 700px"></canvas>
                </div>
              </section>
            </ion-segment-content>

            <ion-segment-content id="Spares-{{ league }}">
              <section class="tab">
                <ion-list-header>{{ "LEAGUE.SPARES_OVERVIEW" | translate }}</ion-list-header>
                <app-spare-display
                  [title]="'LEAGUE.SPARE_STATS' | translate"
                  [prevStats]="overallStats()"
                  [stats]="statsByLeague()[league]"
                  id="league-spareStats">
                </app-spare-display>
                <ion-list-header style="margin-bottom: 4px"> {{ "LEAGUE.SPARE_DISTRIBUTION" | translate }}</ion-list-header>
                <div class="stat-container">
                  <canvas #pinChart style="width: 300px; height: 300px; max-height: 700px"></canvas>
                </div>
              </section>
            </ion-segment-content>

            <ion-segment-content id="Games-{{ league }}">
              <app-game [games]="gamesByLeague()[league]" [gameCount]="gamesByLeague()[league].length" [isLeaguePage]="true"> </app-game>
            </ion-segment-content>
          </ion-segment-view>
        </ion-content>
      </ng-template>
    </ion-modal>
  }
}
