.red-card {
  border-left: 5px solid red;
}

.yellow-card {
  border-left: 5px solid yellow;
}

.green-card {
  border-left: 5px solid green;
}

.action-sheet {
  margin-right: 8px;

  ion-button {
    background: none;

    --background-activated: none;

    position: relative;
  }
}
