ion-modal {
  --background: none;
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.4) !important;
  --box-shadow: 0 28px 48px rgb(0 0 0 / 40%) !important;

  ion-datetime {
    border-radius: 16px;
    box-shadow: rgba(var(--ion-color-primary), 0.3) 0 10px 15px -3px;
  }
}

.ball-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 13px;
  --max-height: auto;
}

.ball-selector::part(detail-icon) {
  opacity: 1;
  color: var(--ion-color-step-650, var(--ion-text-color-step-350, #595959));
  margin-inline-start: 4px;
  margin-inline-end: 0;
  font-size: 18px;
  --ionicon-stroke-width: 48px;
}
// ion-datetime-button::part(native) {
//   font-size: 17px;
// }
