<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()" [strong]="true">Reset</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list style="padding-top: 10px" lines="full">
    <ion-item>
      <ion-input
        class="ion-text-center"
        [ngModel]="gameFilterService.filters().minScore"
        name="minScore"
        clearOnEdit="true"
        inputmode="numeric"
        label="Score range"
        (ionChange)="updateFilter('minScore', $event.detail.value)"></ion-input>
      <ion-input
        label="-"
        class="ion-text-center"
        style="width: 60%"
        [ngModel]="gameFilterService.filters().maxScore"
        name="maxScore"
        clearOnEdit="true"
        inputmode="numeric"
        (ionChange)="updateFilter('maxScore', $event.detail.value)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-toggle
        [ngModel]="gameFilterService.filters().excludePractice"
        name="isPractice"
        (ionChange)="updateFilter('excludePractice', $event.detail.checked)"
        >Exclude practice games</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle [ngModel]="gameFilterService.filters().isPerfect" name="isPerfect" (ionChange)="updateFilter('isPerfect', $event.detail.checked)"
        >Only perfect games</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle [ngModel]="gameFilterService.filters().isClean" name="isClean" (ionChange)="updateFilter('isClean', $event.detail.checked)"
        >Only clean games</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-select
        name="league"
        [ngModel]="gameFilterService.filters().leagues"
        label="League"
        multiple="true"
        (ionChange)="updateFilter('leagues', $event.detail.value)">
        <ion-select-option value="all">All</ion-select-option>
        <ion-select-option value="">None</ion-select-option>
        <ion-select-option *ngFor="let league of leagues" [value]="league">{{ league }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item
      id="ball-filter"
      class="ball-selector"
      button
      detail="true"
      detailIcon="chevron-expand-outline"
      [disabled]="storageService.arsenal().length === 0">
      <ion-label>Balls</ion-label>
      <span class="ion-text-right">{{ getSelectedBallsText() }}</span>
    </ion-item>
    <ion-modal [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation" #modal trigger="ball-filter" class="ball-modal">
      <ng-template>
        <app-ball-select (ballSelect)="handleBallSelect($event, modal)" [selectedBalls]="gameFilterService.filters().balls"></app-ball-select>
      </ng-template>
    </ion-modal>

    <ion-item>
      <ion-select
        name="patterns"
        [ngModel]="gameFilterService.filters().patterns"
        label="Patterns"
        multiple="true"
        (ionChange)="updateFilter('patterns', $event.detail.value)">
        <ion-select-option value="all">All</ion-select-option>
        <ion-select-option value="">None</ion-select-option>
        <ion-select-option *ngFor="let league of patterns()" [value]="league">{{ league }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer style="display: flex" class="ion-justify-content-center">
  <ion-button class="confirm-btn" (click)="confirm()">Confirm ({{ gameFilterService.filteredGames().length }} Games)</ion-button>
</ion-footer>
