ion-modal {
  --background: none;
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.4) !important;
  --box-shadow: 0 28px 48px rgb(0 0 0 / 40%) !important;

  ion-datetime {
    border-radius: var(--card-border-radius, 14px);
    box-shadow: rgba(var(--ion-color-primary), 0.3) 0 10px 15px -3px;
  }
}

.typeahead-modal {
  --background: var(--ion-background-color, #fff);
}

.selected-values {
  overflow: hidden;
  margin-left: 8px;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filter-selector::part(detail-icon) {
  opacity: 1;
  color: var(--ion-color-step-650, var(--ion-text-color-step-350, #595959));
  margin-inline-start: 4px;
  margin-inline-end: 0;
  font-size: 18px;
  --ionicon-stroke-width: 48px;
}

// ion-datetime-button::part(native) {
//   font-size: 17px;
// }