<ion-list style="background: none">
  <ion-list-header style="margin-bottom: 4px">{{ title() }}</ion-list-header>
  <div class="stat-container">
    @if (item().gameCount === 0) {
      <div class="inner-stat-container">
        <p>{{ emptyMessage() }}</p>
      </div>
    } @else {
      <div class="header-container">
        <ion-list-header class="item-name">
          {{ item().name }}
        </ion-list-header>
        <span class="game-count-ratio">{{ item().gameCount }} / {{ totalGames() }}</span>
      </div>
      <div class="inner-stat-container">
        <ion-img [src]="(imageUrlBase() ?? storageService.url) + item().image"></ion-img>
        <div class="item-stats">
          <div class="stat-line">
            <span class="stat-label">Avg:</span>
            <span class="stat-value">{{ item().avg }}</span>
          </div>
          <div class="stat-line">
            <span class="stat-label">High:</span>
            <span class="stat-value">{{ item().highestGame }}</span>
          </div>
          <div class="stat-line">
            <span class="stat-label">Low:</span>
            <span class="stat-value">{{ item().lowestGame }}</span>
          </div>
        </div>
      </div>
    }
  </div>
</ion-list>
