.red {
  &::part(text) {
    color: #a91d3a;
  }
}

.blue {
  &::part(text) {
    color: #427d9d;
  }
}

.green {
  &::part(text) {
    color: #789461;
  }
}

.lila {
  &::part(text) {
    color: #31304d;
  }
}

.gray {
  &::part(text) {
    color: #7d7c7c;
  }
}

.link {
  text-decoration: underline;
  background-color: transparent;
  color: var(--ion-color-primary, #3880ff);
  cursor: pointer;
}

ion-list{
  padding-bottom: 8px;
}

ion-button{
  margin-top: 16px;
  border-radius: var(--small-border-radius);
}