<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-input
        class="ion-text-right"
        [label]="'SETTINGS.YOUR_NAME' | translate"
        type="text"
        [value]="userService.username()"
        placeholder="{{ userService.username() }}"
        (ionChange)="changeName($event)"
        style="margin-right: 21px">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="color-palette-outline" slot="start"></ion-icon>
      <ion-select
        [label]="'SETTINGS.COLOR_THEME' | translate"
        interface="popover"
        [(ngModel)]="currentColor"
        [ngClass]="currentColor?.toLowerCase()"
        placeholder="{{ currentColor }}"
        (ionChange)="changeColor()">
        <ion-select-option *ngFor="let color of optionsWithClasses; let i = index" [value]="color.name" [ngClass]="color.class">
          {{ color.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="bowling-ball-outline" slot="start"></ion-icon>
      <ion-select
        [label]="'SETTINGS.PIN_INPUT_MODE' | translate"
        interface="action-sheet"
        [value]="storageService.pinInputMode() ? 'hit' : 'missing'"
        (ionChange)="savePinInputMode($event.detail.value)">
        <ion-select-option value="missing">{{ 'SETTINGS.MISSING_PINS' | translate }}</ion-select-option>
        <ion-select-option value="hit">{{ 'SETTINGS.HIT_PINS' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    <app-league-selector></app-league-selector>

    <ion-item button id="spare-names-modal">
      <ion-icon src="/assets/svg/pin.svg" slot="start"></ion-icon>
      <ion-label>{{ 'SETTINGS.SPARE_NAMES' | translate }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon src="/assets/svg/target-82-svgrepo-com.svg" slot="start"></ion-icon>
      <ion-input
        [label]="'SETTINGS.GOAL_AVERAGE' | translate"
        class="ion-text-right"
        (ionChange)="getGameCountForAverage($event)"
        placeholder="230"
        max="300"
        inputmode="numeric"
        type="number"
        clearOnEdit="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="language-outline" slot="start"></ion-icon>
      <ion-select
        [label]="'SETTINGS.LANGUAGE' | translate"
        interface="popover"
        [value]="languageService.getCurrentLanguage()"
        (ionChange)="changeLanguage($event.detail.value)">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="de">Deutsch</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="zh">中文</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Issues & Features Section -->
    <ion-item button (click)="openGithubIssueModal()">
      <ion-icon name="bug-outline" slot="start"></ion-icon>
      <ion-label>{{ 'SETTINGS.ISSUES_FEATURES' | translate }}</ion-label>
    </ion-item>

    <ion-item id="feedback-modal" class="ion-activatable ripple-parent rectangle">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>{{ 'SETTINGS.FEEDBACK_REQUESTS' | translate }}</ion-label>
      <p class="link">{{ 'SETTINGS.OPEN_FORM' | translate }}</p>
    </ion-item>

    <ion-item (click)="updateApp()" button [detail]="false" *ngIf="updateAvailable">
      <ion-icon name="refresh-circle-outline" slot="start"></ion-icon>
      <ion-label>{{ 'SETTINGS.LOAD_UPDATE' | translate }}</ion-label>
      <ion-button slot="end"> {{ 'SETTINGS.UPDATE' | translate }} </ion-button>
    </ion-item>
  </ion-list>

  @if (isTestEnvironment) {
    <div style="text-align: center; margin-top: 90%; color: gray; font-size: 13px">{{ 'SETTINGS.TEST_SERVER_MSG' | translate }}</div>
  }
</ion-content>

<ion-modal trigger="spare-names-modal" #spareNamesModal>
  <ng-template>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start" style="padding: 4px">
          <ion-button color="medium" (click)="spareNamesModal.dismiss()">
            <ion-icon name="chevron-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>{{ 'SETTINGS.SPARE_NAMES_TITLE' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true">
      <app-spare-names></app-spare-names>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal trigger="feedback-modal" #feedback [keepContentsMounted]="true">
  <ng-template>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="medium" (click)="feedback.dismiss()">{{ 'SETTINGS.CANCEL' | translate }}</ion-button>
        </ion-buttons>
        <ion-title>{{ 'SETTINGS.FEEDBACK_TITLE' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ 'SETTINGS.FEEDBACK_CONTACT' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form #feedbackForm="ngForm" (ngSubmit)="submitFeedback(feedbackForm)">
            <ion-item>
              <ion-input
                [label]="'SETTINGS.FEEDBACK_EMAIL' | translate"
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$"
                labelPlacement="floating"
                type="email"
                placeholder="email@domain.com"
                [errorText]="'SETTINGS.FEEDBACK_INVALID_EMAIL' | translate"
                [(ngModel)]="userEmail"
                name="userEmail"
                required></ion-input>
            </ion-item>

            <ion-item>
              <ion-textarea
                maxlength="500"
                counter="true"
                [label]="'SETTINGS.FEEDBACK_MESSAGE' | translate"
                labelPlacement="floating"
                [placeholder]="'SETTINGS.FEEDBACK_PLACEHOLDER' | translate"
                [(ngModel)]="feedbackMessage"
                name="feedbackMessage"
                [autoGrow]="true"
                required
                #feedbackInput="ngModel"
                [errorText]="'SETTINGS.FEEDBACK_REQUIRED' | translate"></ion-textarea>
            </ion-item>

            <ion-button expand="full" color="primary" type="submit" [disabled]="feedbackForm.invalid"> {{ 'SETTINGS.SUBMIT_FEEDBACK' | translate }} </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
