<ion-header>
  <ion-toolbar>
    <ion-title>Balls</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    @for (ball of rankedArsenal(); track $index) {
      <ion-item [lines]="$last ? 'none' : ''">
        <ion-avatar slot="start" (click)="toggleBallSelection(ball.ball_name)">
          <img [alt]="ball.ball_name + 'image'" [src]="ballsStore.url + ball.thumbnail_image" />
        </ion-avatar>
        <ion-checkbox justify="space-between" [checked]="isBallSelected(ball.ball_name)" (ionChange)="toggleBallSelection(ball.ball_name)">
          <ion-label>
            <h2>{{ ball.ball_name }} {{ ball.core_weight }}lbs</h2>
            <p>{{ ball.brand_name }}</p>
          </ion-label>
        </ion-checkbox>
      </ion-item>
    }
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons class="modal-buttons" slot="end">
      <ion-button class="modal-button cancel-button" fill="clear" (click)="cancelBallSelection()">Cancel</ion-button>
      <ion-button class="modal-button ok-button" fill="clear" (click)="confirmBallSelection()">OK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
