<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" style="padding: 4px">
      <ion-button (click)="cancel()">
        <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Pattern</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()" [strong]="true">Reset</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="patternForm">
    <ion-list lines="full">
      <ion-item>
        <ion-input class="ion-text-right" label="Title" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="ion-text-right" label="Distance (ft)" placeholder="30" formControlName="distance" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="ion-text-right" label="Pump (µL)" placeholder="20" formControlName="pump" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="ion-text-right" label="Tanks" placeholder="KEGEL" formControlName="tanks"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list-header style="margin-bottom: 4px">Forward Oil</ion-list-header>
    <div formArrayName="forwards_data" class="stat-container">
      <ion-grid class="ion-padding-horizontal">
        <ion-row class="header-row">
          <ion-col size="2">Boards</ion-col>
          <ion-col size="1.4">Load</ion-col>
          <ion-col size="1.4">Mics</ion-col>
          <ion-col size="1.6">Speed</ion-col>
          <ion-col size="1.6">Buffer</ion-col>
          <ion-col size="1.5">Tot. Oil</ion-col>
          <ion-col>Dist.</ion-col>
        </ion-row>

        @for (i of forwardIndices(); track i) {
          <ng-container [formGroupName]="i">
            <ion-row class="entry-label-row">
              <ion-col size="auto" class="entry-label">Entry {{ i + 1 }}</ion-col>
              <ion-col>
                <span class="tank-label">Tank</span>
                <input formControlName="tank" class="tank-input" placeholder="A - KEGEL" />
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" color="danger" size="small" (click)="removeForwardData(i)">
                  <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="data-row">
              <ion-col size="2">
                <input formControlName="start" class="grid-input half" placeholder="2L" />
                <span class="sep">-</span>
                <input formControlName="stop" class="grid-input half" placeholder="2R" />
              </ion-col>
              <ion-col size="1.4">
                <input formControlName="load" class="grid-input" inputmode="decimal" placeholder="1" />
              </ion-col>
              <ion-col size="1.4">
                <input formControlName="mics" class="grid-input" inputmode="decimal" placeholder="25" />
              </ion-col>
              <ion-col size="1.6">
                <input formControlName="speed" class="grid-input" inputmode="decimal" placeholder="18" />
              </ion-col>
              <ion-col size="1.6">
                <input formControlName="buf" class="grid-input" inputmode="decimal" placeholder="3" />
              </ion-col>
              <ion-col size="1.5">
                <input formControlName="total_oil" class="grid-input" inputmode="decimal" placeholder="1850" />
              </ion-col>
              <ion-col>
                <input formControlName="distance_start" class="grid-input half" placeholder="0" />
                <span class="sep">-</span>
                <input formControlName="distance_end" class="grid-input half" placeholder="22" />
              </ion-col>
            </ion-row>
          </ng-container>
        }
      </ion-grid>
      <ion-button expand="block" fill="outline" size="small" (click)="addForwardData()" class="add-btn"> Add Forward Row </ion-button>
    </div>

    <ion-list-header style="margin-bottom: 4px">Reverse Oil</ion-list-header>
    <div formArrayName="reverse_data" class="stat-container">
      <ion-grid class="ion-padding-horizontal">
        <ion-row class="header-row">
          <ion-col size="2">Boards</ion-col>
          <ion-col size="1.4">Load</ion-col>
          <ion-col size="1.4">Mics</ion-col>
          <ion-col size="1.6">Speed</ion-col>
          <ion-col size="1.6">Buffer</ion-col>
          <ion-col size="1.5">Tot. Oil</ion-col>
          <ion-col>Dist.</ion-col>
        </ion-row>

        @for (i of reverseIndices(); track i) {
          <ng-container [formGroupName]="i">
            <ion-row class="entry-label-row">
              <ion-col size="auto" class="entry-label">Entry {{ i + 1 }}</ion-col>
              <ion-col>
                <span class="tank-label">Tank</span>
                <input formControlName="tank" class="tank-input" placeholder="A - KEGEL" />
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" color="danger" size="small" (click)="removeReverseData(i)">
                  <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="data-row">
              <ion-col size="2">
                <input formControlName="start" class="grid-input half" placeholder="2L" />
                <span class="sep">-</span>
                <input formControlName="stop" class="grid-input half" placeholder="2R" />
              </ion-col>
              <ion-col size="1.4">
                <input formControlName="load" class="grid-input" inputmode="decimal" placeholder="1" />
              </ion-col>
              <ion-col size="1.4">
                <input formControlName="mics" class="grid-input" inputmode="decimal" placeholder="25" />
              </ion-col>
              <ion-col size="1.6">
                <input formControlName="speed" class="grid-input" inputmode="decimal" placeholder="18" />
              </ion-col>
              <ion-col size="1.6">
                <input formControlName="buf" class="grid-input" inputmode="decimal" placeholder="3" />
              </ion-col>
              <ion-col size="1.5">
                <input formControlName="total_oil" class="grid-input" inputmode="decimal" placeholder="1850" />
              </ion-col>
              <ion-col>
                <input formControlName="distance_start" class="grid-input half" placeholder="22" />
                <span class="sep">-</span>
                <input formControlName="distance_end" class="grid-input half" placeholder="0" />
              </ion-col>
            </ion-row>
          </ng-container>
        }
      </ion-grid>
      <ion-button expand="block" fill="outline" size="small" (click)="addReverseData()" class="add-btn"> Add Reverse Row </ion-button>
    </div>
  </form>
</ion-content>

<ion-footer style="display: flex" class="ion-justify-content-center">
  <ion-button class="confirm-btn" type="submit" [disabled]="!patternForm.valid" (click)="onSubmit()">Save Pattern</ion-button>
</ion-footer>
