<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" style="padding: 4px">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Pattern</ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="reset()"> Reset </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="patternForm">
    <h4 class="ion-padding">Pattern Data</h4>
    <ion-list lines="full">
      <ion-item>
        <ion-input class="ion-text-right" formControlName="title" label="Title" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="ion-text-right" formControlName="distance" label="Distance" placeholder="30" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="ion-text-right" formControlName="ratio" label="Ratio" placeholder="2.00"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="ion-text-right" formControlName="forward" label="Oil Forward" placeholder="12.74" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="ion-text-right" formControlName="reverse" label="Oil Reverse" placeholder="10.31" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="ion-text-right" formControlName="volume" label="Volume" placeholder="" readonly="true" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="ion-text-right" formControlName="pump" label="Pump" placeholder="20" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="ion-text-right" formControlName="tanks" label="Tanks" placeholder=""></ion-input>
      </ion-item>
    </ion-list>

    <h4 class="ion-padding">Forward Data</h4>
    <div formArrayName="forwards_data">
      @for (item of forwardsDataArray.controls; track item; let i = $index) {
        <div [formGroupName]="i">
          <div class="row-header">
            <h5 class="ion-padding">Entry {{ i + 1 }}</h5>
            <ion-button color="danger" fill="clear" (click)="removeForwardData(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
          <ion-list lines="full">
            <ion-item>
              <ion-input class="ion-text-right ion-text-capitalize" formControlName="start" label="Start" placeholder="2L"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right ion-text-capitalize" formControlName="stop" label="Stop" placeholder="2R"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="load" label="Load" placeholder="1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="mics" label="Mics" placeholder="25"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="speed" label="Speed" placeholder="18"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="buf" label="Buffer" placeholder="3"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="tank" label="Tank"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="total_oil" label="Total Oil" placeholder="20"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="distance_start" label="Start Dist" placeholder="0"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="distance_end" label="End Dist" placeholder="22"></ion-input>
            </ion-item>
          </ion-list>
        </div>
      }
      <ion-button expand="block" size="small" (click)="addForwardData()"> Add Forward Data </ion-button>
    </div>

    <h4 class="ion-padding">Reverse Data</h4>
    <div formArrayName="reverse_data">
      @for (item of reverseDataArray.controls; track item; let i = $index) {
        <div [formGroupName]="i">
          <div class="row-header">
            <h5 class="ion-padding">Entry {{ i + 1 }}</h5>
            <ion-button color="danger" fill="clear" (click)="removeReverseData(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
          <ion-list lines="full">
            <ion-item>
              <ion-input class="ion-text-right ion-text-capitalize" formControlName="start" label="Start" placeholder="2L"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right ion-text-capitalize" formControlName="stop" label="Stop" placeholder="2R"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="load" label="Load" placeholder="1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="mics" label="Mics" placeholder="25"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="speed" label="Speed" placeholder="18"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="buf" label="Buffer" placeholder="3"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="tank" label="Tank"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="total_oil" label="Total Oil" placeholder="20"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="distance_start" label="Start Dist" placeholder="0"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="ion-text-right" formControlName="distance_end" label="End Dist" placeholder="22"></ion-input>
            </ion-item>
          </ion-list>
        </div>
      }
      <ion-button expand="block" size="small" (click)="addReverseData()"> Add Reverse Data </ion-button>
    </div>
  </form>
</ion-content>

<ion-footer class="ion-justify-content-center" style="display: flex">
  <ion-button class="confirm-btn" type="submit" [disabled]="!patternForm.valid" (click)="onSubmit()">Save Pattern</ion-button>
</ion-footer>
