<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" style="padding: 4px">
      <ion-button (click)="cancel()">
        <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Pattern</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()" [strong]="true"> Reset </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="patternForm">
    <h4 class="ion-padding">Pattern Data</h4>
    <ion-list lines="full">
      <ion-item>
        <ion-input class="ion-text-right" placeholder="" [label]="'PATTERN_FORM.TITLE' | translate" formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          class="ion-text-right"
          placeholder="30"
          [label]="'PATTERN_FORM.DISTANCE' | translate"
          formControlName="distance"
          type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="ion-text-right" placeholder="2.00" [label]="'PATTERN_FORM.RATIO' | translate" formControlName="ratio"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          class="ion-text-right"
          placeholder="12.74"
          [label]="'PATTERN_FORM.OIL_FORWARD' | translate"
          formControlName="forward"
          type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          class="ion-text-right"
          placeholder="10.31"
          [label]="'PATTERN_FORM.OIL_REVERSE' | translate"
          formControlName="reverse"
          type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          class="ion-text-right"
          placeholder=""
          [label]="'PATTERN_FORM.VOLUME' | translate"
          formControlName="volume"
          readonly="true"
          type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="ion-text-right" placeholder="20" [label]="'PATTERN_FORM.PUMP' | translate" formControlName="pump" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="ion-text-right" placeholder="" [label]="'PATTERN_FORM.TANKS' | translate" formControlName="tanks"></ion-input>
      </ion-item>
    </ion-list>

    <h4 class="ion-padding">Forward Data</h4>
    <div formArrayName="forwards_data">
      <div *ngFor="let item of forwardsDataArray.controls; let i = index" [formGroupName]="i">
        <div class="row-header">
          <h5 class="ion-padding">Entry {{ i + 1 }}</h5>
          <ion-button fill="clear" color="danger" (click)="removeForwardData(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-list lines="full">
          <ion-item>
            <ion-input
              class="ion-text-right ion-text-capitalize"
              placeholder="2L"
              [label]="'PATTERN_FORM.START' | translate"
              formControlName="start"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              class="ion-text-right ion-text-capitalize"
              placeholder="2R"
              [label]="'PATTERN_FORM.STOP' | translate"
              formControlName="stop"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" placeholder="1" [label]="'PATTERN_FORM.LOAD' | translate" formControlName="load"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" placeholder="25" [label]="'PATTERN_FORM.MICS' | translate" formControlName="mics"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" placeholder="18" [label]="'PATTERN_FORM.SPEED' | translate" formControlName="speed"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" placeholder="3" [label]="'PATTERN_FORM.BUFFER' | translate" formControlName="buf"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" [label]="'PATTERN_FORM.TANK' | translate" formControlName="tank"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" placeholder="20" [label]="'PATTERN_FORM.TOTAL_OIL' | translate" formControlName="total_oil"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              class="ion-text-right"
              placeholder="0"
              [label]="'PATTERN_FORM.START_DIST' | translate"
              formControlName="distance_start"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              class="ion-text-right"
              placeholder="22"
              [label]="'PATTERN_FORM.END_DIST' | translate"
              formControlName="distance_end"></ion-input>
          </ion-item>
        </ion-list>
      </div>
      <ion-button expand="block" (click)="addForwardData()" size="small"> Add Forward Data </ion-button>
    </div>

    <h4 class="ion-padding">Reverse Data</h4>
    <div formArrayName="reverse_data">
      <div *ngFor="let item of reverseDataArray.controls; let i = index" [formGroupName]="i">
        <div class="row-header">
          <h5 class="ion-padding">Entry {{ i + 1 }}</h5>
          <ion-button fill="clear" color="danger" (click)="removeReverseData(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-list lines="full">
          <ion-item>
            <ion-input
              class="ion-text-right ion-text-capitalize"
              placeholder="2L"
              [label]="'PATTERN_FORM.START' | translate"
              formControlName="start"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              class="ion-text-right ion-text-capitalize"
              placeholder="2R"
              [label]="'PATTERN_FORM.STOP' | translate"
              formControlName="stop"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" placeholder="1" [label]="'PATTERN_FORM.LOAD' | translate" formControlName="load"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" placeholder="25" [label]="'PATTERN_FORM.MICS' | translate" formControlName="mics"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" placeholder="18" [label]="'PATTERN_FORM.SPEED' | translate" formControlName="speed"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" placeholder="3" [label]="'PATTERN_FORM.BUFFER' | translate" formControlName="buf"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" [label]="'PATTERN_FORM.TANK' | translate" formControlName="tank"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="ion-text-right" placeholder="20" [label]="'PATTERN_FORM.TOTAL_OIL' | translate" formControlName="total_oil"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              class="ion-text-right"
              placeholder="0"
              [label]="'PATTERN_FORM.START_DIST' | translate"
              formControlName="distance_start"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              class="ion-text-right"
              placeholder="22"
              [label]="'PATTERN_FORM.END_DIST' | translate"
              formControlName="distance_end"></ion-input>
          </ion-item>
        </ion-list>
      </div>
      <ion-button expand="block" (click)="addReverseData()" size="small"> Add Reverse Data </ion-button>
    </div>
  </form>
</ion-content>

<ion-footer style="display: flex" class="ion-justify-content-center">
  <ion-button class="confirm-btn" type="submit" [disabled]="!patternForm.valid" (click)="onSubmit()">Save Pattern</ion-button>
</ion-footer>
