.pattern-container {
  display: flex;
  gap: 8px;
  margin: 8px 16px;

  .pattern-charts {
    display: flex;
    gap: 8px;
    width: 45%;

    img,
    app-pattern-canvas {
      width: 50%;
    }

    img {
      height: auto;
      align-self: flex-start;
      border-radius: var(--card-border-radius);
    }
  }

  .pattern-info {
    display: grid;
    width: 55%;

    ion-chip {
      justify-content: center;
      border-radius: var(--card-border-radius);
      border: 1px solid var(--ion-thin-border-color, #ffffff12);
      background: var(--ion-card-background);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

ion-grid {
  background-color: var(--ion-card-background);
  margin: 0 16px;
  padding: 4px;
  border-radius: var(--card-border-radius);
  align-items: center;
  border: 1px solid var(--ion-border-color, #2b2828);

  &:last-child {
    margin-bottom: 32px;
  }

  .header-row {
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
  }

  .data-row {
    font-size: .65rem;
    line-height: 1.2;

    &:nth-child(even) {
      background-color: var(--ion-color-light-tint);
      border-radius: var(--card-border-radius);
    }
  }
}