ion-grid {
  background-color: var(--ion-card-background);
  margin: 8px 6px;
  padding: 4px;
  border-radius: 7px;
  align-items: center;

  &:last-child {
    margin-bottom: 32px;
  }

  ion-label {
    padding: 4px;
    font-size: 1.1375rem;
    font-weight: 600;
    text-align: center;
  }

  .header-row {
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
  }

  .data-row {
    font-size: .65rem;
    line-height: 1.2;

    &:nth-child(even) {
      background-color: var(--ion-color-light-tint);
      border-radius: 7px;
    }
  }
}

.pattern-container {
  display: flex;
  gap: 8px;
  margin: 8px;

  .pattern-info {
    display: grid;
    width: 55%;

    ion-chip:first-child {
      margin-top: 0;
    }

    ion-chip:last-child {
      margin-bottom: 0;
    }
  }
}

// .pattern-info{
//   dis
// }