<div class="pattern-container">
  <img alt="Pattern image" style="width: 50%; height: auto; border-radius: var(--card-border-radius)" [src]="imagesUrl + pattern().chart_standard" />
  <div class="pattern-info">
    <ion-chip>Distance: {{ pattern().distance }}ft</ion-chip>
    <ion-chip>Volume: {{ pattern().volume }}mL</ion-chip>
    <ion-chip>Ratio: {{ pattern().ratio }}</ion-chip>
    <ion-chip>{{ getLength() }} Length</ion-chip>
    <ion-chip>{{ getVolume() }} Volume</ion-chip>
    <ion-chip>{{ getDifficulty() }} Difficulty</ion-chip>
  </div>
</div>

<ion-list-header style="margin-bottom: 4px">Forward Oil</ion-list-header>
<ion-grid class="ion-padding-horizontal">
  <ion-row class="header-row">
    <ion-col size="1.9">Boards</ion-col>
    <ion-col size="1.4">Load</ion-col>
    <ion-col size="1.4">Mics</ion-col>
    <ion-col size="1.6">Speed</ion-col>
    <ion-col size="1.6">Buffer</ion-col>
    <ion-col size="1.5">Tot. Oil</ion-col>
    <ion-col size="auto">Dist.</ion-col>
  </ion-row>

  @for (data of pattern().forwards_data; track $index) {
    <ion-row class="data-row">
      <ion-col size="1.9">{{ data.start }}-{{ data.stop }}</ion-col>
      <ion-col size="1.4">{{ data.load }}</ion-col>
      <ion-col size="1.4">{{ data.mics }}</ion-col>
      <ion-col size="1.6">{{ data.speed }}</ion-col>
      <ion-col size="1.6">{{ data.buf }}</ion-col>
      <ion-col size="1.5">{{ data.total_oil }}</ion-col>
      <ion-col size="auto">{{ data.distance_start }}-{{ data.distance_end }}</ion-col>
    </ion-row>
  }
</ion-grid>

<ion-list-header style="margin-bottom: 4px">Reverse Oil</ion-list-header>
<ion-grid class="ion-padding-horizontal ion-margin-bottom">
  <ion-row class="header-row">
    <ion-col size="1.9">Boards</ion-col>
    <ion-col size="1.4">Load</ion-col>
    <ion-col size="1.4">Mics</ion-col>
    <ion-col size="1.6">Speed</ion-col>
    <ion-col size="1.6">Buffer</ion-col>
    <ion-col size="1.5">Tot. Oil</ion-col>
    <ion-col size="auto">Dist.</ion-col>
  </ion-row>

  @for (data of pattern().reverse_data; track $index) {
    <ion-row class="data-row">
      <ion-col size="1.9">{{ data.start }}-{{ data.stop }}</ion-col>
      <ion-col size="1.4">{{ data.load }}</ion-col>
      <ion-col size="1.4">{{ data.mics }}</ion-col>
      <ion-col size="1.6">{{ data.speed }}</ion-col>
      <ion-col size="1.6">{{ data.buf }}</ion-col>
      <ion-col size="1.5">{{ data.total_oil }}</ion-col>
      <ion-col size="auto">{{ data.distance_start }}-{{ data.distance_end }}</ion-col>
    </ion-row>
  }
</ion-grid>
