<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="add">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
      <ion-label>New</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon aria-hidden="true" name="receipt"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="league">
      <ion-icon aria-hidden="true" name="trophy-outline"></ion-icon>
      <ion-label>Leagues</ion-label>
    </ion-tab-button>

    <ion-tab-button id="more" [class.active-tab]="activeMoreTab$ | async">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-modal #modal trigger="more" [breakpoints]="[0, 0.35, 0.45, 0.5, 0.75]" [initialBreakpoint]="0.45">
  <ng-template>
    <ion-content>
      <ion-list>
        @for (tab of moreTabs; track tab.path) {
          <ion-item button class="tab-btn" routerLinkActive="active-tab" [routerLink]="tab.path" (click)="modal.dismiss()">
            <ion-icon slot="start" [name]="tab.src ? undefined : tab.icon" [src]="tab.src"></ion-icon>
            <ion-label>{{ tab.label }}</ion-label>
          </ion-item>
        }
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
