:host-context(.plt-hybrid) ion-tab-bar {
  --background: color-mix(in srgb, var(--ion-card-background, #141414) 45%, transparent);
  --border: 0;

  backdrop-filter: saturate(180%) blur(24px);
  -webkit-backdrop-filter: saturate(180%) blur(24px);
}

// ion-tab-bar {
//     --background: var(--tab-bar-color);
// }

ion-icon {
  font-size: 24px;
}

.active-tab {
  color: var(--ion-color-primary);
}

.tab-btn:not(.active-tab){
  color: #999;
}
