.action-sheet {
  margin-right: 8px;

  ion-button {
    background: none;

    --background-activated: none;

    position: relative;
  }
}

.card-content {
  color: white;

  .header {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

ion-thumbnail {
  --size: 80px;

  margin-top: 8px;
  margin-bottom: 8px;
}

ion-header {
  ion-button {
    position: relative;

    .powered-by {
      font-size: 0.75rem;
      color: gray;
      position: absolute;
      top: -5px;
      text-align: center;
    }
  }
}

ion-card-title {
  padding-bottom: 12px;
}

.sliding {
  .title {
    font-weight: 600;
    font-size: 1.1rem;
  }
}

ion-img::part(image) {
  border-radius: 50%;
}

.ball-info {

  ion-chip {
    text-align: center;
    padding: 6px;
    margin-left: 0;
    margin-right: 4px;
    font-size: 0.75rem;

    &:last-child {
      margin: 0;
    }
  }
}

.arsenal-chart-container {
  border: 1px solid var(--ion-border-color, #2b2828);
  margin: 12px 16px 12px;
  border-radius: 7px;
  background-color: #141414;
  padding: 0 0 12px 12px;
  height: 100%;
  max-height: 70dvh;
}

.ball-info-list {
  min-height: fit-content;
  height: calc(100dvh - 44px);
  display: flex;
  flex-direction: column;

  .core-container,
  .coverstock-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .core-image,
    .coverstock-image {
      margin-bottom: 12px;

      ion-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }
    }

    ion-item {
      width: 100%;
      --padding-start: 16px;
      --padding-end: 16px;
      pointer-events: none;
    }
  }

  .coverstock-section,
  .core-section {
    position: relative;

    ion-ripple-effect {
      z-index: 1000;
    }
  }

  .core-section {
    margin-top: auto;
    margin-bottom: 15dvh;
  }
}