ion-header {
  ion-button {
    position: relative;

    .powered-by {
      font-size: 0.75rem;
      color: gray;
      position: absolute;
      top: -5px;
      text-align: center;
    }
  }

  .action-sheet {
    margin-right: 8px;

    ion-button {
      background: none;
      --background-activated: none;
      position: relative;
    }
  }
}

.sliding {
  .title {
    font-weight: 600;
    font-size: 1.1rem;
  }

  ion-thumbnail {
    --size: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .ball-info {
    ion-chip {
      text-align: center;
      background: var(--ion-card-background);
      border: 1px solid (var(--ion-thin-border-color, #ffffff12));
      color: #fff;
      font-size: 0.65rem;
      padding: 2px 6px;
      height: 22px;
      margin-left: 0;
      margin-right: 4px;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.arsenal-chart-container {
  border: 1px solid var(--ion-border-color, #2b2828);
  margin: 12px 16px 12px;
  border-radius: 7px;
  background-color: #141414;
  padding: 0 0 12px 12px;
  height: 100%;
  max-height: 70dvh;
}

ion-card {
  margin-top: 0;

  ion-img::part(image) {
    border-radius: 50%;
  }

  .coverstock-container,
  .core-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .coverstock-image,
    .core-image {
      margin-bottom: 12px;

      ion-img {
        width: 120px;
        height: 120px;
      }
    }

    .info-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      ion-text {
        display: inherit;
        color: var(--ion-color-medium, #8a8a90);

        .info {
          font-size: 1rem;
          color: #fff;
        }
      }
    }
  }
}