.action-sheet {
  margin-right: 8px;

  ion-button {
    background: none;

    --background-activated: none;

    position: relative;
  }
}

ion-header {
  ion-button {
    position: relative;

    .powered-by {
      font-size: 0.75rem;
      color: gray;
      position: absolute;
      top: -5px;
      text-align: center;
    }
  }
}

ion-card-title {
  padding-bottom: 12px;
}

.ball-card-image {
  height: 15vmax;
}

.ball-info {
  margin-top: 12px;

  ion-chip {
    text-align: center;
    padding: 6px;
    margin-left: 0;
    margin-right: 4px;
    font-size: 0.75rem;

    &:last-child {
      margin: 0;
    }
  }
}

.arsenal-chart-container {
  border: 1px solid var(--ion-border-color, #2b2828);
  margin: 12px 16px 12px;
  border-radius: 7px;
  background-color: #141414;
  padding: 0 0 12px 12px;
  height: 100%;
  max-height: 70dvh;
}

.ball-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 8px 0 4px;
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    margin: 2px 0;
    color: var(--ion-color-medium);
  }
}

.ball-detail-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;

  &::part(image) {
    border-radius: 50%;
  }
}