<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'ARSENAL.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="action-sheet" id="addBall">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button [href]="storageService.url">
        <div class="powered-by">powered by</div>
        <img
          [src]="storageService.url + '/sites/default/files/logo/bowwwl-logo.svg'"
          alt="bowwwl"
          title="bowwwl.com"
          style="height: 1.5rem; min-width: 80px" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  @if (storageService.arsenal().length > 0) {
    <ion-toolbar>
      <ion-segment [(ngModel)]="selectedSegment">
        <ion-segment-button value="arsenal" contentId="arsenal">{{ 'ARSENAL.TITLE' | translate }}</ion-segment-button>
        <ion-segment-button value="compare" contentId="compare">{{ 'ARSENAL.COMPARE_CHART' | translate }}</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  }
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment-view>
    <ion-segment-content id="arsenal">
      @if (storageService.arsenal().length > 0) {
        <ion-list>
          <ion-reorder-group disabled="false" (ionItemReorder)="reorderArsenal($event)">
            <ion-item-sliding *ngFor="let ball of storageService.arsenal()" #slidingItem class="sliding">
              <ion-item-options side="end" (ionSwipe)="removeFromArsenal(ball); slidingItem.closeOpened()">
                <ion-item-option color="danger" expandable (click)="removeFromArsenal(ball); slidingItem.closeOpened()">
                  <ion-icon class="title" style="transform: translateY(-2px)" name="trash-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>

              <ion-item button [id]="ball.ball_id + ball.core_weight">
                <ion-reorder slot="start">
                  <ion-thumbnail>
                    <ion-img [src]="storageService.url + ball.thumbnail_image"></ion-img>
                  </ion-thumbnail>
                </ion-reorder>

                <ion-label>
                  <p>{{ ball.brand_name }} ({{ ball.release_date }})</p>
                  <h1>{{ ball.ball_name }}</h1>
                  <div class="ball-info">
                    <ion-chip>{{ ball.core_weight }}lbs</ion-chip>
                    <ion-chip>{{ ball.core_type }}</ion-chip>
                    <ion-chip>{{ ball.coverstock_type }}</ion-chip>
                  </div>
                </ion-label>
              </ion-item>
            </ion-item-sliding>
          </ion-reorder-group>
        </ion-list>
      }
    </ion-segment-content>

    <ion-segment-content id="compare">
      @if (storageService.arsenal().length > 0) {
        <div class="arsenal-chart-container">
          <canvas #balls style="width: 600px; height: 800px; max-height: 100%"> </canvas>
        </div>
      }
    </ion-segment-content>
  </ion-segment-view>

  <ng-container *ngIf="storageService.arsenal().length <= 0">
    <ion-text class="no-game-text"> {{ 'ARSENAL.NO_BALLS' | translate }} </ion-text>
  </ng-container>
  <!-- <ng-template #content>
    <ion-list>
      <ion-reorder-group disabled="false" (ionItemReorder)="reorderArsenal($event)">
        <ion-item-sliding *ngFor="let ball of storageService.arsenal()" #slidingItem class="sliding">
          <ion-item-options side="end" (ionSwipe)="removeFromArsenal(ball); slidingItem.closeOpened()">
            <ion-item-option color="danger" expandable (click)="removeFromArsenal(ball); slidingItem.closeOpened()">
              <ion-icon class="title" style="transform: translateY(-2px)" name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item button [id]="ball.ball_id + ball.core_weight">
            <ion-reorder slot="start">
              <ion-thumbnail>
                <ion-img [src]="storageService.url + ball.thumbnail_image"></ion-img>
              </ion-thumbnail>
            </ion-reorder>

            <ion-label>
              <p>{{ ball.brand_name }} ({{ ball.release_date }})</p>
              <h1>{{ ball.ball_name }}</h1>
              <div class="ball-info">
                <ion-chip>{{ ball.core_weight }}lbs</ion-chip>
                <ion-chip>{{ ball.core_type }}</ion-chip>
                <ion-chip>{{ ball.coverstock_type }}</ion-chip>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-reorder-group>
    </ion-list>
  </ng-template> -->
</ion-content>

<ion-modal *ngFor="let ball of storageService.arsenal()" [trigger]="ball.ball_id + ball.core_weight" #modal>
  <ng-template>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start" style="padding: 4px">
          <ion-button (click)="modal.dismiss()">
            <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>{{ ball.ball_name }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true">
      <ion-list class="ball-info-list">
        <div
          class="coverstock-section ion-activatable ripple-parent"
          (click)="getSameCoverstockBalls(ball)"
          (keydown.enter)="getSameCoverstockBalls(ball)"
          (keydown.space)="getSameCoverstockBalls(ball)"
          tabindex="0"
          role="button"
          aria-label="View coverstock balls">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-list-header>
            <ion-label>{{ 'ARSENAL.COVERSTOCK' | translate }}</ion-label>
          </ion-list-header>
          <div class="coverstock-container">
            <div class="coverstock-image">
              <ion-img [src]="storageService.url + ball.thumbnail_image"></ion-img>
            </div>
            <ion-item button>
              <ion-label>
                <h2>{{ ball.coverstock_name }}</h2>
                <p>Type: {{ ball.coverstock_type }}</p>
                <p>Factory Finish: {{ ball.factory_finish }}</p>
              </ion-label>
            </ion-item>
          </div>
        </div>

        <div
          class="core-section ion-activatable ripple-parent"
          (click)="getSameCoreBalls(ball)"
          (keydown.enter)="getSameCoreBalls(ball)"
          (keydown.space)="getSameCoreBalls(ball)"
          tabindex="0"
          role="button"
          aria-label="View core balls">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-list-header>
            <ion-label>{{ 'ARSENAL.CORE' | translate }}</ion-label>
          </ion-list-header>
          <div class="core-container">
            <div class="core-image">
              <ion-img [src]="storageService.url + ball.core_image"></ion-img>
            </div>
            <ion-item button>
              <ion-label>
                <h2>{{ ball.core_name }}</h2>
                <p>RG: {{ ball.core_rg }}</p>
                <p>Diff: {{ ball.core_diff }}</p>
                <p *ngIf="ball.core_int_diff">Int. Diff: {{ ball.core_int_diff }}</p>
                <p>Type: {{ ball.core_type }}</p>
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [initialBreakpoint]="0.35" [breakpoints]="[0, 0.35, 0.5, 0.75]" #coverstock>
  <ng-template>
    <app-ball-list [balls]="coverstockBalls" [isCoverstock]="true"></app-ball-list>
  </ng-template>
</ion-modal>

<ion-modal [initialBreakpoint]="0.35" [breakpoints]="[0, 0.35, 0.5, 0.75]" #core>
  <ng-template>
    <app-ball-list [balls]="coreBalls" [isCoverstock]="false"></app-ball-list>
  </ng-template>
</ion-modal>

<ion-modal [presentingElement]="presentingElement" trigger="addBall">
  <ng-template>
    <app-generic-typeahead
      [items]="ballsWithoutArsenal()"
      [config]="ballTypeaheadConfig"
      (selectedItemsChange)="onBallSelectionChange($event)"
      [prevSelectedItems]="[]">
    </app-generic-typeahead>
  </ng-template>
</ion-modal>
