<ion-list style="background: none">
  <ion-list-header *ngIf="title" style="margin-bottom: 4px">{{ title }}</ion-list-header>
  <div class="stat-container">
    <ion-grid class="stat-grid">
      <ion-row class="stat-header stats">
        <ion-col [id]="'tooltip' + id">
          <ion-text
            >{{ "SPARE_DISPLAY.COUNT" | translate }}
            <ion-icon name="information-circle-outline"></ion-icon>
          </ion-text>
        </ion-col>
        <ion-popover [trigger]="'tooltip' + id">
          <ion-text class="tooltip">{{ "SPARE_DISPLAY.COUNT_TOOLTIP" | translate }}</ion-text>
        </ion-popover>
        <ion-col
          ><ion-text>{{ "SPARE_DISPLAY.MISS" | translate }}</ion-text></ion-col
        >
        <ion-col
          ><ion-text>{{ "SPARE_DISPLAY.HIT" | translate }}</ion-text></ion-col
        >
        <ion-col
          ><ion-text>{{ "SPARE_DISPLAY.RATE" | translate }}</ion-text></ion-col
        >
      </ion-row>
      <ion-row *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" class="stats">
        <ion-col>
          <ion-text>{{ getLabel(i) }}</ion-text>
        </ion-col>

        @if (i > 0) {
          <!-- Display each pin count -->
          <ion-col>
            <ion-text>{{ stats.missedCounts[i] }}</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{ stats.pinCounts[i] }}</ion-text>
          </ion-col>
          <ion-col *ngIf="stats.pinCounts[i] === 0 && stats.missedCounts[i] === 0"></ion-col>
          @if (stats.pinCounts[i] !== 0 || stats.missedCounts[i] !== 0) {
            <ion-col [ngStyle]="{ color: getRateColor(stats.spareRates[i]) }" class="spare-rates-content">
              <ion-text [id]="id! + i" class="stat-text"
                >{{ stats.spareRates[i] | number: "1.2-2" }}%
                @if (prevStats && getArrowIcon(stats.spareRates[i], prevStats.spareRates[i])) {
                  <ion-icon
                    class="arrow-icon"
                    [name]="getArrowIcon(stats.spareRates[i], prevStats.spareRates[i])"
                    [color]="getDiffColor(stats.spareRates[i], prevStats.spareRates[i])">
                  </ion-icon>
                }
              </ion-text>
              @if (prevStats && calculateStatDifference(stats.spareRates[i], prevStats.spareRates[i]) !== "0") {
                <ion-popover class="diff-popover" [trigger]="id! + i">
                  <ion-text [color]="getDiffColor(stats.spareRates[i], prevStats.spareRates[i])">
                    {{ calculateStatDifference(stats.spareRates[i], prevStats.spareRates[i]) }}
                  </ion-text>
                </ion-popover>
              }
            </ion-col>
          }
        } @else {
          <!-- Display total spares and conversion rate -->
          <ion-col>
            <ion-text>{{ stats.totalSparesMissed }}</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{ stats.totalSparesConverted }}</ion-text>
          </ion-col>
          @if (stats.totalSparesMissed + stats.totalSparesConverted !== 0) {
            <ion-col [ngStyle]="{ color: getRateColor(stats.overallSpareRate) }" class="spare-rates-content">
              <ion-text [id]="'overall' + id!" class="stat-text">
                {{ stats.overallSpareRate | number: "1.2-2" }}%
                @if (prevStats && getArrowIcon(stats.overallSpareRate, prevStats.overallSpareRate)) {
                  <ion-icon
                    class="arrow-icon"
                    [name]="getArrowIcon(stats.overallSpareRate, prevStats.overallSpareRate)"
                    [color]="getDiffColor(stats.overallSpareRate, prevStats.overallSpareRate)">
                  </ion-icon>
                }
              </ion-text>
              @if (prevStats && calculateStatDifference(stats.overallSpareRate, prevStats.overallSpareRate) !== "0") {
                <ion-popover class="diff-popover" [trigger]="'overall' + id!">
                  <ion-text [color]="getDiffColor(stats.overallSpareRate, prevStats.overallSpareRate)">
                    {{ calculateStatDifference(stats.overallSpareRate, prevStats.overallSpareRate) }}
                  </ion-text>
                </ion-popover>
              }
            </ion-col>
          }
          <ion-col *ngIf="stats.totalSparesMissed + stats.totalSparesConverted === 0"></ion-col>
        }
      </ion-row>
    </ion-grid>
  </div>
</ion-list>
