<ion-buttons slot="start" style="padding: 4px">
  <ion-button
    for="import"
    type="button"
    class="action-sheet"
    slot="start"
    fill="clear"
    [disabled]="ballsStore.allBalls().length === 0"
    (click)="openFileInput()">
    <ion-spinner style="position: absolute" *ngIf="ballsStore.allBalls().length === 0" name="crescent"></ion-spinner>
    <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="exportToExcel()" class="action-sheet" fill="clear" [disabled]="gamesStore.games().length <= 0 && !loadingService.isLoading()">
    <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon> </ion-button
></ion-buttons>
<input
  type="file"
  id="import"
  #import
  class="ion-hide"
  (change)="handleFileUpload()"
  placeholder="Upload file"
  accept=".xlsx,.xls,.pinpal,.db,.sqlite,.sqlite3,application/octet-stream,application/x-sqlite3,application/vnd.sqlite3" />
