<ion-buttons slot="start" style="padding: 4px">
  <ion-button
    for="excelUpload"
    type="button"
    class="action-sheet"
    slot="start"
    fill="clear"
    [disabled]="ballsStore.allBalls().length === 0"
    (click)="openExcelFileInput()">
    <ion-spinner style="position: absolute" *ngIf="ballsStore.allBalls().length === 0" name="crescent"></ion-spinner>
    <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
  </ion-button>
  <ion-button
    (click)="exportToExcel()"
    class="action-sheet"
    fill="clear"
    [disabled]="gamesStore.games().length <= 0 && !loadingService.isLoading()">
    <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon> </ion-button
></ion-buttons>
<!-- Clear Input on Upload-->
<input type="file" id="excelUpload" #excelUpload class="ion-hide" (input)="handleFileUpload()" placeholder="Upload file" accept=".xlsx" />
