// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// TODO schauen ob manche Farben überarbeitet werden müssen
:root.red {
  --ion-color-primary: #eee;
  --ion-color-secondary: #e8adbb;
  --ion-color-secondary: #f492a9;
  --ion-color-tertiary: #a91d3a;
  --ion-color-quartiary: #d57588;
  --ion-color-quartiary: #a91d3a;
  --ion-color-dark: #340404;
  --ion-input-color: #000;
  --ion-color-dark-rgb: rgb(81 7 7 / 80%);
  --ion-text-color-rgb: blue;

  // --ion-color-success: ;

  &.ios body {
    --ion-color-primary: #eee;
    --ion-color-secondary: #e8adbb;
    --ion-color-secondary: #f492a9;
    --ion-color-tertiary: #a91d3a;
    --ion-color-quartiary: #d57588;
    --ion-color-quartiary: #a91d3a;
    --ion-color-dark: #340404;
    --ion-color-dark-rgb: rgb(81 7 7 / 80%);
  }

  ion-content,
  ion-app {
    --background: #0a0202;
  }
}

:root.blue {
  --ion-color-primary: #ddf2fd;
  --ion-color-secondary: #eee9da;
  --ion-color-tertiary: #9bbec8;
  --ion-color-quartiary: #427d9d;
  --ion-color-dark: #164863;
  --ion-input-color: #000;
  --ion-color-dark-rgb: rgb(14 75 108 / 80%);

  // --ion-color-success: ;

  &.ios body {
    --ion-color-primary: #ddf2fd;
    --ion-color-secondary: #eee9da;
    --ion-color-tertiary: #9bbec8;
    --ion-color-quartiary: #427d9d;
    --ion-color-dark: #093147;
    --ion-color-dark-rgb: rgb(14 75 108 / 80%);

    // --ion-text-color: #000;
  }

  ion-content,
  ion-app {
    --background: #02070a;
  }
}

:root.gray {
  --ion-color-primary: #f1efef;

  // --ion-color-secondary: #cfcfcf;

  --ion-color-secondary: #ccc8aa;
  --ion-color-tertiary: #7d7c7c;
  --ion-color-quartiary: #7d7c7c;
  --ion-color-dark: #313131;
  --ion-color-dark-rgb: rgb(77 77 77 / 80%);

  // --ion-color-success: ;

  --ion-input-color: #000;

  &.ios body {
    --ion-color-primary: #f1efef;

    // --ion-color-secondary: #cfcfcf;

    --ion-color-secondary: #ccc8aa;
    --ion-color-tertiary: #7d7c7c;
    --ion-color-quartiary: #7d7c7c;
    --ion-color-dark: #313131;
    --ion-color-dark-rgb: rgb(77 77 77 / 80%);
  }

  ion-content,
  ion-app {
    --background: #0d0e0d;
  }
}

:root.lila {
  --ion-color-primary: #f0ece5;
  --ion-color-secondary: #b6bbc4;
  --ion-color-tertiary: #31304d;

  // --ion-color-quartiary: #565581;
  // --ion-color-quartiary: #31304d;
  --ion-color-quartiary: #3d3c5a;
  --ion-color-dark: #222847;
  --ion-color-dark-rgb: rgb(34, 40, 71);
  --ion-input-color: #000;

  // --ion-color-success: ;

  &.ios body {
    --ion-color-primary: #f0ece5;
    --ion-color-secondary: #b6bbc4;
    --ion-color-tertiary: #31304d;

    // --ion-color-quartiary: #565581;
    // --ion-color-quartiary: #31304d;
    --ion-color-quartiary: #65658e;
    --ion-color-dark: #222847;
    --ion-color-dark-rgb: rgb(34, 40, 71);
  }

  ion-content,
  ion-app {
    --background: #05020a;
  }
}

/** Ionic CSS Variables **/
:root.green {
  /** primary **/
  --ion-color-primary: #dbe7c9;
  --ion-color-primary-rgb: 219, 231, 201;
  --ion-color-primary-contrast: #000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #c1cbb1;
  --ion-color-primary-tint: #dfe9ce;

  /** secondary **/
  --ion-color-secondary: #789461;
  --ion-color-secondary-rgb: rgb(120 148 97);
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #789461;

  /** tertiary **/
  --ion-color-tertiary: #50623a;
  --ion-color-tertiary-rgb: rgb(80 98 58);
  --ion-color-tertiary-contrast: #fff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** quartiary **/
  --ion-color-quartiary: #294b29;
  --ion-color-quartiary-rgb: rgb(41 75 41);
  --ion-color-quartiary-contrast: #fff;
  --ion-color-quartiary-contrast-rgb: 255, 255, 255;
  --ion-color-quartiary-shade: #4854e0;
  --ion-color-quartiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #132313;
  --ion-color-dark-rgb: rgb(31 57 31);
  --ion-color-dark-contrast: #fff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #fff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  ion-content,
  ion-app {
    --background: #020a06;
  }
}

/*
   * Dark Colors
   * -------------------------------------------
   */

body {
  --ion-color-primary: #dbe7c9;
  --ion-color-primary-rgb: 219, 231, 201;
  --ion-color-primary-contrast: #000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #c1cbb1;
  --ion-color-primary-tint: #dfe9ce;
  --ion-color-secondary: #789461;
  --ion-color-secondary-rgb: rgb(120 148 97);
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;
  --ion-color-tertiary: #50623a;
  --ion-color-tertiary-rgb: rgb(80 98 58);
  --ion-color-tertiary-contrast: #fff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;
  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;
  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;
  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;
  --ion-color-dark: #132313;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #fff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body {
  --ion-background-color: var(--ion-color-tertiary);
  --ion-background-color-rgb: 0, 0, 0;
  --ion-text-color: #fff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #ccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;
  --ion-item-background: #0d0d0d;
  --ion-card-background: #141414;
  --ion-border-color: #2b2828;
}

.ios ion-modal {
  --ion-background-color: var(--ion-color-step-100);
}

html {
  /* 
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
