<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
@if (loadingService.isLoading()) {
  <ion-backdrop style="opacity: 0.4; z-index: 999999"></ion-backdrop>
  <app-bowling-refresher [refreshing]="true" [size]="0.5" [align]="'middle'" [background]="'none'" class="custom-loader"></app-bowling-refresher>
}
<app-toast></app-toast>

<!-- PWA Install Prompt -->
<app-pwa-install-prompt [isOpen]="showPwaInstallPrompt" [canInstall]="canInstallPwa" (install)="onPwaInstall()" (dismiss)="onPwaDismiss()">
</app-pwa-install-prompt>
