<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

@if (loadingService.isLoading()) {
  <ion-backdrop style="opacity: 0.3; z-index: 999999"></ion-backdrop>
}
@if (loadingService.isLoading()) {
  <ion-spinner name="lines" color="primary" class="custom-loader"></ion-spinner>
}
<app-toast></app-toast>

<!-- PWA Install Prompt -->
<app-pwa-install-prompt [isOpen]="showPwaInstallPrompt" [canInstall]="canInstallPwa" (install)="onPwaInstall()" (dismiss)="onPwaDismiss()">
</app-pwa-install-prompt>
