<ion-header [translucent]="true">
  <ion-toolbar>
    <app-file-header-buttons></app-file-header-buttons>
    <ion-title>
      {{ 'HISTORY.TITLE' | translate }}
      <ion-badge>{{ gameFilterService.filteredGames().length }}</ion-badge>
    </ion-title>
    <ion-buttons slot="end" class="action-sheet">
      <!-- <app-sort-header
        [id]="'game-sort-header'"
        [sortOptions]="sortService.GAME_SORT_OPTIONS"
        [selectedSort]="currentSortOption"
        storageKey="games-sort-option"
        (sortChanged)="onSortChanged($event)">
      </app-sort-header> -->
      <ion-button fill="clear" (click)="openFilterModal()" [disabled]="storageService.games().length <= 0 && !loadingService.isLoading()">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        <ion-text class="filter-indicator" *ngIf="gameFilterService.activeFilterCount() !== 0">{{ gameFilterService.activeFilterCount() }}</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="gameFilterService.activeFilterCount() !== 0" style="text-align: center">
    <app-generic-filter-active [filters]="currentFilters" [defaultFilters]="defaultFilters" [filterConfigs]="gameFilterConfigs">
    </app-generic-filter-active>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container *ngIf="storageService.games().length <= 0 && !loadingService.isLoading(); else checkFilteredGames">
    <ion-text class="no-game-text"> {{ 'HISTORY.NO_GAMES' | translate }} </ion-text>
  </ng-container>
  <ng-template #checkFilteredGames>
    <ng-container *ngIf="gameFilterService.filteredGames().length <= 0 && !loadingService.isLoading(); else content">
      <ion-text class="no-game-text"> {{ 'HISTORY.NO_GAMES_FILTER' | translate }} </ion-text>
    </ng-container>
  </ng-template>
  <!-- Main content to display when there is game history or when loading is done -->
  <ng-template #content>
    <!-- <ion-button (click)="deleteAll()">Delete</ion-button>-->
    <app-game [games]="gameFilterService.filteredGames()" [gameCount]="gameFilterService.filteredGames().length"></app-game>
  </ng-template>
</ion-content>
