<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      History
      <ion-badge>{{ gameFilterService.filteredGames().length }}</ion-badge>
    </ion-title>
    <ion-buttons slot="end" class="action-sheet">
      <!-- <app-sort-header
      [id]="'game-sort-header'"
      [sortOptions]="sortService.GAME_SORT_OPTIONS"
      [selectedSort]="currentSortOption"
      storageKey="games-sort-option"
      (sortChanged)="onSortChanged($event)">
    </app-sort-header> -->
      <ion-button fill="clear" (click)="openFilterModal()" [disabled]="gamesStore.games().length <= 0 && !loadingService.isLoading()">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        @if (gameFilterService.activeFilterCount() !== 0) {
          <ion-text class="filter-indicator">{{ gameFilterService.activeFilterCount() }}</ion-text>
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  @if (gameFilterService.activeFilterCount() !== 0) {
    <ion-toolbar style="text-align: center">
      <app-generic-filter-active [filters]="currentFilters()" [defaultFilters]="defaultFilters" [filterConfigs]="gameFilterConfigs">
      </app-generic-filter-active>
    </ion-toolbar>
  }
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <app-bowling-refresher [refreshing]="isRefreshing()"></app-bowling-refresher>
  </ion-refresher>

  <!-- Show this message if there are no game history items and it's not loading -->
  @if (gamesStore.games().length <= 0 && !loadingService.isLoading()) {
    <ion-text class="no-game-text"> Start playing a few games to see your history here! </ion-text>
  } @else {
    @if (gameFilterService.filteredGames().length <= 0 && !loadingService.isLoading()) {
      <ion-text class="no-game-text"> No games for this filter! </ion-text>
    } @else {
      <!-- <ion-button (click)="deleteAll()">Delete</ion-button>-->
      <app-game-list [games]="gameFilterService.filteredGames()"></app-game-list>
    }
  }
  <!-- Main content to display when there is game history or when loading is done -->
</ion-content>
