<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button type="button" class="action-sheet" slot="start" fill="clear" (click)="handleImageUpload()">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <input type="file" id="upload" class="ion-hide" accept="image/*" />
    <ion-title (click)="presentActionSheet()" style="cursor: pointer">
      New {{ selectedMode === "Single" ? "Game" : selectedMode }}
      <ion-icon [name]="sheetOpen ? 'chevron-up' : 'chevron-down'" size="small" style="vertical-align: middle"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="togglePinInputMode()">
        <ion-icon slot="icon-only" [name]="isPinInputMode ? 'bowling-ball' : 'bowling-ball-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  @if (selectedMode !== "Single") {
    <ion-toolbar>
      <ion-segment [value]="selectedSegment" (ionChange)="onSegmentChange($event)" [scrollable]="true">
        <ion-segment-button *ngFor="let segment of segments" [value]="segment" [contentId]="segment">
          <ion-label class="segment-label">{{ segment }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  }
</ion-header>

<ion-alert [isOpen]="isAlertOpen" header="Error" message="You didn't fill all inputs" [buttons]="['Dismiss']" (didDismiss)="isAlertOpen = false">
</ion-alert>

<app-game-score-toolbar
  [show]="showScoreToolbar"
  [offset]="toolbarOffset"
  [strikeDisabled]="toolbarDisabledState.strikeDisabled"
  [spareDisabled]="toolbarDisabledState.spareDisabled"
  (strikeClick)="onToolbarButtonClick('X')"
  (spareClick)="onToolbarButtonClick('/')">
</app-game-score-toolbar>

<div
  *ngIf="is300"
  style="
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
  ">
  <lottie-player slot="end" autoplay loop src="https://lottie.host/7b3bdd2a-221b-463e-9f59-d95964639389/duMcnXopMJ.json"></lottie-player>
</div>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment-view>
    <ion-segment-content *ngFor="let segment of segments; let i = index" [id]="segment">
      <app-game-grid
        #gameGrid
        [game]="games()[i]"
        [strikeDisabled]="toolbarDisabledState.strikeDisabled"
        [spareDisabled]="toolbarDisabledState.spareDisabled"
        [maxScore]="maxScores()[i]"
        [isPinInputMode]="isPinInputMode"
        [pinsLeftStanding]="getPinsLeftStanding(i)"
        [currentFrameIndex]="getCurrentFrameIndex(i)"
        [currentThrowIndex]="getCurrentThrowIndex(i)"
        [canStrike]="canRecordStrike(i)"
        [canSpare]="canRecordSpare(i)"
        [canUndo]="canUndoForPinMode(i)"
        [isGameComplete]="isGameComplete(i)"
        [patternModalId]="i.toString()"
        [ballSelectorId]="'modal-ball-selector' + i"
        (throwInput)="handleThrowInput($event, i)"
        (pinThrowConfirmed)="onPinThrowConfirmed($event, i)"
        (pinUndoRequested)="handlePinUndoRequested(i)"
        (scoreCellClick)="onScoreCellClick($event, i)"
        (leagueChanged)="onLeagueChange($event)"
        (patternChanged)="onPatternChange($event)"
        (isPracticeChanged)="onIsPracticeChange($event, i)"
        (toolbarStateChanged)="onToolbarStateChange($event)"
        (noteChanged)="onNoteChange($event, i)"
        (ballsChanged)="onBallsChange($event, i)"
        (inputFocused)="onInputFocused($event, i)">
      </app-game-grid>

      <ion-grid *ngIf="selectedMode !== 'Single'">
        <ion-row class="button-row">
          <ion-col>
            <ion-button (click)="clearFrames(i)">Clear Score {{ i + 1 }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-segment-content>
  </ion-segment-view>

  <ion-grid *ngIf="selectedMode === 'Single'">
    <ion-row class="button-row">
      <ion-col>
        <ion-button (click)="clearFrames()">Clear Score</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="calculateScore()">Save Score</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="selectedMode !== 'Single'">
    <ion-row>
      <ion-col class="middle count">Score Series: {{ seriesCurrentScore() }}</ion-col>
      <ion-col class="middle count">Max Series: {{ seriesMaxscore() }}</ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col>
        <ion-button (click)="clearFrames()">Clear All</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="calculateScore()">Save Series</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Modal for OCR -->
<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false" #modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Your game</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm(modal)" [strong]="true" [disabled]="!isGameValid(gameData)">Save</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <h2 class="ion-text-center">Edit wrong game data</h2>
      <app-game-grid
        #modalGrid
        [ballSelectorId]="gameData.gameId + '-modal-ball-selector'"
        [game]="gameData"
        [isPinInputMode]="false"
        (throwInput)="handleThrowInput($event, 0, true)"
        (leagueChanged)="onLeagueChange($event, true)"
        (isPracticeChanged)="onIsPracticeChange($event, 0, true)"
        (noteChanged)="onNoteChange($event, 0, true)"
        (ballsChanged)="onBallsChange($event, 0, true)"
        (patternChanged)="onPatternChange($event, true)"
        [patternModalId]="gameData.gameId">
      </app-game-grid>
    </ion-content>
  </ng-template>
</ion-modal>
