%card {
  margin-bottom: 6px;
  border-radius: var(--default-border-radius);
  border-left: 5px solid;
}

.red-card {
  @extend %card;
  border-left-color: red;
}

.yellow-card {
  @extend %card;
  border-left-color: yellow;
}

.green-card {
  @extend %card;
  border-left-color: green;
}

.typeahead-img-rect {
  width: 80px;
  height: 40px;
  object-fit: contain;
  background-color: white;
  border-radius: var(--default-border-radius);
  padding: 4px;
  flex-shrink: 0;
  margin-inline-end: 12px;
}