@for (toast of activeToasts; track $index) {
  <ion-toast
    #toastRef
    class="custom-toast"
    position="bottom"
    swipeGesture="vertical"
    [color]="toast.isError ? 'danger' : 'primary'"
    [duration]="TOAST_DURATION"
    [icon]="toast.icon"
    [isOpen]="true"
    [message]="toast.message"
    [ngStyle]="{ transform: 'translateY(-' + getOffset($index) + 'px)' }"
    (click)="toastRef.dismiss()"
    (didDismiss)="onToastDidDismiss(toast.id)"
    (didPresent)="onToastDidPresent(toast.id, $event)">
  </ion-toast>
}
