@for (toast of activeToasts; track toast; let i = $index) {
  <ion-toast
    #toastRef
    class="custom-toast"
    [isOpen]="true"
    [message]="toast.message"
    [icon]="toast.icon"
    [color]="toast.isError ? 'danger' : 'primary'"
    [duration]="TOAST_DURATION"
    position="bottom"
    (didDismiss)="onToastDidDismiss(toast.id)"
    (click)="toastRef.dismiss()"
    swipeGesture="vertical"
    [ngStyle]="{
      transform: 'translateY(-' + i * getMarginAccordingToTextLength(toast.message) + 'px)',
    }">
  </ion-toast>
}
