<div class="stats">
  <ion-text [id]="id + '-tooltip'">{{ label | translate }}: <ion-icon *ngIf="toolTip" name="information-circle-outline"></ion-icon> </ion-text>
  <ion-popover *ngIf="toolTip" [trigger]="id + '-tooltip'" size="cover" class="tooltip-popover">
    <ion-text class="tooltip">{{ toolTip | translate }}</ion-text>
  </ion-popover>
  <ion-text class="value" [id]="id">
    @if (secondaryStat !== undefined) {
      {{ currentStat | conditionalNumber }} / {{ secondaryStat | conditionalNumber }}
    } @else {
      {{ currentStat | conditionalNumber }}<span *ngIf="isPercentage">%</span>
    }

    @if (statDifference !== "0") {
      <ion-icon [name]="getArrowIcon(currentStat, prevStat)" [color]="getDiffColor(currentStat, prevStat)"> </ion-icon>
    }
  </ion-text>

  @if (statDifference !== "0") {
    <ion-popover class="diff-popover" [trigger]="id">
      <ion-text [color]="getDiffColor(currentStat, prevStat)">
        {{ statDifference }}
      </ion-text>
    </ion-popover>
  }
</div>
