<dl class="stats">
  <dt class="stat-label">
    <ion-text [id]="id + '-tooltip'">{{ label }}: <ion-icon *ngIf="toolTip" name="information-circle-outline"></ion-icon> </ion-text>
    <ion-popover *ngIf="toolTip" [trigger]="id + '-tooltip'" size="cover" class="tooltip-popover">
      <ion-text class="tooltip">{{ toolTip }}</ion-text>
    </ion-popover>
  </dt>

  <dd class="value-wrap">
    @if (statDifference !== "0") {
      <ion-icon class="diff-icon" [name]="getArrowIcon(currentStat, prevStat)" [color]="getDiffColor(currentStat, prevStat)"></ion-icon>
    }
    <ion-text class="value" [id]="id">
      @if (secondaryStat !== undefined) {
        {{ currentStat | conditionalNumber }} / {{ secondaryStat | conditionalNumber }}
      } @else {
        {{ currentStat | conditionalNumber }}
        @if (isPercentage) {
          %
        }
      }
    </ion-text>

    @if (statDifference !== "0") {
      <ion-popover class="diff-popover" [trigger]="id">
        <ion-text [color]="getDiffColor(currentStat, prevStat)">
          {{ statDifference }}
        </ion-text>
      </ion-popover>
    }
  </dd>
</dl>
