<ion-header [translucent]="true">
  <ion-toolbar style="display: flex; align-items: flex-start">
    <ion-title size="small">
      {{ getTitle() }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    @for (ball of balls; track ball.ball_id) {
      <!-- Überlegen ob es nicht sinnvoller ist das mit router navigate und searchparams besser ist
        Falls jemals nochmal gebraucht 
      -->
      <ion-item (click)="onBallClick(ball)" button>
        <ion-avatar slot="start">
          <ion-img [src]="storageService.url + ball.thumbnail_image"></ion-img>
        </ion-avatar>
        <ion-label>
          <p>{{ ball.brand_name }} ({{ ball.release_date }})</p>
          <h2>{{ ball.ball_name }}</h2>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
