<ion-list>
  <ion-list-header>
    {{ title() }}
  </ion-list-header>

  <div class="stat-container">
    @if (leaveStats().length === 0) {
      <div class="inner-stat-container">
        <div class="leave-container">
          <div class="leave-stats">
            <p>{{ "STATS.NO_STATS_AVAILABLE" | translate }}</p>
          </div>
        </div>
      </div>
    } @else {
      @for (leave of leaveStats(); track $index) {
        <ion-item lines="none" class="leave-item">
          <div class="leave-container">
            <div class="pin-deck-wrapper">
              <app-pin-deck [activePins]="leave.pins" [scale]="0.7" [isStatPage]="true"></app-pin-deck>
            </div>
            <div class="leave-stats">
              <ion-label>
                <h3>{{ "STATS.OCCURRENCES" | translate }}</h3>
                <p>{{ leave.occurrences }}</p>
              </ion-label>
              <ion-label>
                <h3>{{ "STATS.PICKUPS" | translate }}</h3>
                <p>{{ leave.pickups }}</p>
              </ion-label>
              <ion-label>
                <h3>{{ "STATS.PICKUP_PCT" | translate }}</h3>
                <p [style.color]="getPickupColor(leave.pickupPercentage)">{{ leave.pickupPercentage.toFixed(0) }}%</p>
              </ion-label>
            </div>
          </div>
        </ion-item>
      }
    }
  </div>
</ion-list>
