<ion-button fill="clear" #sortTrigger [id]="id()">
  <ion-icon slot="icon-only" name="swap-vertical"></ion-icon>
</ion-button>

<ion-popover [trigger]="id()" dismissOnSelect="true" alignment="center" side="bottom" (didPresent)="onPopoverPresent()">
  <ng-template>
    <ion-list #sortList>
      <ion-item *ngIf="favoritesFirstStorageKey" lines="full">
        <ion-checkbox justify="space-between" [checked]="favoritesFirst" (ionChange)="onFavoritesFirstChange($event)">{{
          "SORT.FAVORITES_FIRST" | translate
        }}</ion-checkbox>
      </ion-item>
      <ion-radio-group [(ngModel)]="selectedSortKey" (ngModelChange)="onSortChange($event)">
        <ion-item *ngFor="let option of sortOptions()" (click)="selectOption(option)" [id]="'sort-item-' + getSortKey(option)">
          <ion-radio slot="start" [value]="getSortKey(option)"></ion-radio>
          <ion-label>{{ option.label | translate }}</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ng-template>
</ion-popover>
